/* Show it is fixed to the top */
body {
    min-height: 75rem;

    
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1400px;
    }
  }

  .title-area{
    margin-bottom: 5rem;
  }

